
  body{margin: 0;
    font-family: "Quicksand", serif;
     font-optical-sizing: auto;
     font-style: normal;
     /* min-width:33rem ; */
     
   }
   /* ----defult value of text---- */


   /* 1st drop down menu start */
 /* From Uiverse.io by gharsh11032000 */ 
 .menu {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  width: fit-content;
  display: flex;
  list-style: none;
  width: 60%;
  display: flex;
  justify-content: end;
}

.menu a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.menu .link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 36px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffc200;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link svg {
  width: 14px;
  height: 14px;
  fill: white;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .item {
  position: relative;
}

/* test */
.a_ser {
 
  cursor: context-menu;
}
.submenu .submenu-link {
  display: inline-block;
  /* padding: 12px 24px; */
  position: relative;
  background: #303030;
  
}
.menu .item {
  position: fixed;
  top: 0;
  background: #2f2f2f;
  border-radius: 12px 0px 0px 12px;
  z-index: 1;
}
/* test */

.menu .item .submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  border-radius: 0 0 16px 16px;
  left: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid #cccccc;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-12px);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
  pointer-events: none;
  list-style: none;
}

.menu .item:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
  border-top: transparent;
  border-color: #ffc200;
}

.menu .item:hover .link {
  color: #ffffff;
  border-radius: 16px 16px 0 0;
}

.menu .item:hover .link::after {
  transform: scaleX(1);
  transform-origin: right;
}

.menu .item:hover .link svg {
  fill: #ffffff;
  transform: rotate(-180deg);
}

.submenu .submenu-item {
  width: 100%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link {
  display: block;
  padding: 15.6px 6px;
  width: 100%;
  opacity: 0.8;
  position: relative;
  text-align: center;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
.submenu .submenu-item:last-child .submenu-link {
  border-bottom: none;
}

.submenu .submenu-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  background-color: rgba(88, 88, 88, 0.811) ;
  z-index: -1;
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link:hover:before {
  transform: scaleX(1);
  transform-origin: right;
}

.submenu .submenu-link:hover {
  color: #ffffff;
}

   /* 1st drop down menu end */

   h1{
    font-size: 30px;
   }
   p{
    font-size: 18px;
    
   }
   /* ----defult value of text---- */
   /* top-menu */
   .top-img_and_contant{
     background-image: url(./imges/top-b.png);
     height: 500px;
     overflow: hidden;
     background-repeat: no-repeat;
     background-size: cover;
   }
   
   header.top {
    background-image: url(./1.png);
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    justify-content: space-between;
}
   nav.top-nav {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 20px;
   }
   .logo {
    width: 30%;
    height: 100%;
   }
   img.log {
    height: 25px;
   }
   .top-nav>menu {
    display: flex;
    list-style: none;
    gap: 30px;
   }
   .top-nav>menu>li>a{
    text-decoration: none;
    color: white;
   }
   .top-nav>menu>i{
     color: palegoldenrod;
   }
   
   /* top-contant */
   .top-content {
     width: 259px;
     /* background: red; */
     height: 265px;
     /* display: flex; */
     position: relative;
     left: 65%;
     margin-top: 60px;
   }
   .title{
     color: #ffc200; 
     height: 40px;
     font-size: 50px;
   }
   .top-content>p{
     color: white;
   }
   button {
     height: 29px;
     width: 120px;
     background-color: #ffc200;
     border: none;
     border-radius: 5px;
   }
   a{
     text-decoration: none;
     color:#262626;
   }
   /* 2nd Area */
   .con-b_seller {
     margin-top: 53px;
     padding-bottom: 10px;
   }
   /* b_con-1 */
   .con-b1 {
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   /* b_bon-2 */
   .con-b2 {
     display: flex;
     justify-content: space-evenly;
     gap: 9px;
     
   }
   /* fd1 */
   .f1 {
     width: 200px;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #eae9e998;
     padding: 10px;
     border-radius: 5px;
     box-shadow: 2px 3px 6px rgba(128, 128, 128, 0.564);
   }
   .f1>div>img{
     height:100px;
   }
   .title-2{font-family: "Grand Hotel", serif;}
   
   .f1>div:nth-child(2){
    text-align: center;
   }
   .title-3{height: 20px;}
   /* Area 2 end */
   
   /* Area 3 start */
   /* part 1 */
   section.taste_Cont {
     background-image: url(./imges/Vec-taste_back.png);
     display: flex;
     margin-top: 100px;
     gap: 10px;
     justify-content: space-around;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-position-y: 0%;
   }
   .tas-img {
     height: 300px;
     width: 300px;
     justify-content: center;
     display: flex;
     align-items: center;
   }
   .tas-img>img{
     height: 200px;
   }
   /* part2 */
   .tas-para {
     width: 320px;
   }
   .tas-para>p{
     color: white;
   }
   /* area3 end */
   
   /* Area 4 start */
   section.statistics {
     background-image: url(./imges/Vec-statistics.png);
     height: 500px;
     padding-bottom: 50px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
   }
   .sub-statis{
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   .stati1{
     margin-top: 102px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
   }
   .stati1 p{
     color: white;
     font-size: 15px;
   }
   /* part2 */
   .stati2 {
     display: flex;
     justify-content: space-between;
     gap:30px;
   }
   .stati2>div{
     border: 1px solid white;
     border-radius: 20rem;
     width: 100px;
     height: 100px;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 16px;
   }
   .title-4{  
       color: #ffc200;
     height:1px;
     font-size: 20px;
     
   }
   .stati2>div>p{
     color: white;
   }
   /* Area 5 strat */
 section.grill-con {
    background-image: url(./imges/Vec-grill.png);
    margin-bottom: 50px;
    display: flex;
    /* gap: 10px; */
    justify-content: space-around;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    min-height: 360px;
}

   /* Area 6 start */
   .len-fields{
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-image: url(./imges/vac-fields-back_.png);
     justify-content: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 100px 313px 100px 313px;
     text-align: center;
   }
   .len-fields>p{
     color: #262626;
     font-size: 20px;
   }
   .Subscribes{
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-image: url(./imges/Vec-subs.png);
     justify-content: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 100px 313px 100px 313px;
     text-align: center;
   }
   .Subscribes>p{
     color: rgba(17, 17, 17, 0.611);
     font-size: 20px;
   }
   .Subscribes>div {
     display: flex;
     border: 1px solid rgb(0 0 0 / 41%);
     height: 40px;
     width: 300px;
     border-radius: 7px;
     padding-left: 12px;
     position: relative;
     justify-content: center;
   }
   #mail{
     border: none ;
     outline: none ;
    background-color: transparent;
     
   }
   .subs-h {
     /* border-radius: 1rem; */
     background-color: #ffc200;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .subs-h>h3 {
     font-size: 12px;
     height: 29px;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   /* footer area */
   footer.foot {
     background: #262626;
     padding-bottom: 100px;
     /* justify-content: center; */
     display: flex;
     gap: 20px;
     color: rgba(255, 255, 255, 0.924);
   }
   .fot-1 {
    width: 40%;
    font-size: 16px;
    padding-left: 14px;
}
   .sub-fot{
     display: flex;
     gap: 10px;
     width: 60%;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
   }
   .fot-2 p{
     color: rgba(255, 255, 255, 0.86);
   }
   .fot-2 p>a{color: rgba(255, 255, 255, 0.771);}
   
   .stati1 p{
    text-align: center;
   }

 
   /* ___________________MOBILE_________________ */
   
   @media screen and (max-width:600px){
    .top{
      padding-bottom: 0;
    }
    .top-img_and_contant{
      overflow: hidden;
      background-size: cover;
      background-position-y: bottom;
      height: 100vh;
  }
  .top-content {
    min-width: 200px;
    position: relative;
    left: 0;
    margin-top: 60px;  
}


/* extra */
/* From Uiverse.io by SteveBloX */ 
.card {
  box-sizing: border-box;
  /* width: 300px;
  height: 500px; */
  /* background: rgba(217, 217, 217, 0.58); */
  
  
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.082);
  backdrop-filter: blur(2px);
  border-radius: 0px 22px 22px 0px;
  
  cursor: pointer;
 


  user-select: none;

  flex-direction: column;
  padding: 0px 0px 40px 4px;
  margin: 0;
  

}
/* extra */

button {
 
  margin-bottom: 12px;
}



  .top-content p{
    color: rgb(255, 255, 255);
    font-weight:400 ;
  }
  /*----------2nd area----------*/
  .f1 {
    width: 82vw;
    align-items: center;
    /* height: 40vh; */
}
.con-b1 p{
  text-align: center;

}
.con-b2 {
  gap: 19px;
  flex-direction: column;
  align-items: center;
}
/* ___________3rd Area__________ */
section.taste_Cont {
  flex-direction: column;
  /* padding-bottom: 100px; */
  align-items: center;
  background-position-y: 19px;
  justify-content: center;

}
.tas-img {
  height: 18vh;
  /* width: 300px; */
  justify-content: center;
  display: flex;
  align-items: center;
  
}
.tas-para {
  width: 60vw;
  padding: 0;
}
.tas-para h1 {
  /* padding-bottom: 2px; */
  font-size: 45px;
  /* padding-top: 30px; */
}
/*___________4th Area____________*/
.stati2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  flex-wrap: wrap;
}
section.statistics {
  height: 100%;
  padding-bottom: 50px;
  
}
/*__________5th Area________*/
.order1{
order:2;
}
.order2{
order: 1;
}
.grill-con{
  gap: 0px;
  padding: 50px 0px;
  margin-bottom: 60px;
  justify-content: safe;
  flex-direction: column;
  align-items: center;
}
.order_2{
  order: 2;
}
.order_1{
  order: 1;
}
/*_________6th Area__________ */
.len-fields{
  padding: 0;
  /* margin-top: 0px ; */
}
/* ___________7th Area____________ */
.Subscribes {
  
  padding: 0px 0px 50px;
  
}
footer.foot {
 justify-content: center;
 flex-direction: column;
 padding-left: 8px;
}
.sub-fot {
  gap: 10px;
  width: auto;
 justify-content: space-between;
}
.fot-1 {
  width: auto;
}

/* nav bar  */
.submenu .submenu-link {
  display: block;
  padding: 28.2px 6px;
  width: 100%;
  opacity: 0.9;
  position: relative;
  text-align: center;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
/* nav bar  */
   }
